body{
    background-color: teal;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: aliceblue;
    color:blueviolet;
}

input{
    color:blueviolet;
}